.header {


    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--primary-theme-color);
    box-shadow: 0 0 0.125rem 0.125rem white;

    /* background-color: var(--primary-theme-color);
    position: fixed;
    top: 0;
    left: 0; */

    /* right: 0; */
    /* bottom: 0; */

}